@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$sofBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$veryDarkBlue-mainBG: hsl(217, 54%, 11%);
$veryDarkBlue-cardBG: hsl(216, 50%, 16%);
$veryDarkBlue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: $veryDarkBlue-mainBG;
}
p{
    font-size: (18/16)rem;
}
img{
    max-width: 100%;
}
main{
    display: flex;
    margin: auto 0;
    align-items: center;
    min-height: 95vh;
}

.container{
    width: 85%;
    max-width: 325px;
    margin: 0 auto;
}
.card{
    background-color: $veryDarkBlue-cardBG;
    padding: 1.68em 1.68em 1.8em 1.68em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 20px 10px 20px hsl(217, 54%, 11%,0.1);
    &__img{
        width: 100%;
        cursor: pointer;
        position: relative;
        img{
            border-radius: 8px;
            display: block;
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: .3s ease;
        border-radius: 8px;
        background-color: $cyan;
        img{
            position: absolute;
            top: 50%;
            left: 50%;  
            text-align: center;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        &:hover{
            opacity: 0.3;
        }
       
    }
    &__text{
        text-align: left;
        .title{
            // width: 70%;
            color: $white;
            font-size: 1.2rem;
            font-weight: 600;
            margin: 1.8em 0 1em;
            display: flex;
            &:hover,:focus{
                cursor: pointer;
                color: $cyan;
                transition: 0.3s ease;
            }
        }
       
        .paragraph{
            color: $sofBlue;
            margin-bottom: 1em;
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            span{
                display: flex;
                align-items: center;
            }
            img{
                margin-right: 0.3em;
            }
            .price{
                color: $cyan;
            }
            .days{
                color: $sofBlue;
            }
        }
        &-hr{
            border: 1px solid $veryDarkBlue-line;
            margin: 1em 0;
        }
        &-avatar{
            display: flex;
            align-items: center;
            font-size: 1rem;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $white;
                margin-right: 1em;
            }
            .name{
                color: $sofBlue;
            }
            span{
                color: $white;
            }
        }
    }

}
footer{
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        a{
            color: hsl(228, 45%, 44%);
        }
    }
}

@media(min-width: 600px){
    .container{
        width: 350px;
    }
   
}
